* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* thẻ để lên đầu rồi đến cái tự mình set */
img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    padding-top: 62px;
}

/* herder style*/
.header {
    background-color: #30598c;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    height: 62px;
    width: 100%;
    position: fixed;
}

.header-container {
    padding: 0 30px; 
    /* cách trên dưới là 0 và trái phải 30, dãn nội dụng ko cho sát lề */
    height: 100%;
    font-size: 20px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    /* mỗi cái một bên */
    align-items: center;
    height: 100%;
    position: sticky;
}

.sidebar {
    display: flex;
    align-items: center;
}


.menu .main-menu {
    display: flex;
}

.menu .main-menu .menu-item {
    text-transform: uppercase;
    margin-right: 24px;
    position: relative;

    height: 62px;
    display: flex;
    align-items: center;

    cursor: pointer;
}

.menu .main-menu .menu-item:hover {
    color: #c4c4c4;
}

.sub-menu {
    position: absolute;

    right: 0;
    top: 100%;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    background-color: #fff;
    border-radius: 4px;

    display: none;
}

.menu .main-menu .menu-item:hover .sub-menu {
    display: block;
}

.sub-menu-item {
    color: #212529;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    padding: 16px;
}

.sub-menu-item:hover {
    background-color: #c4c4c4;
    color: #fff;
}

.avatar {
    margin-left: 24px;
}

/* cart style */

.logo img {
    height: 37px;
    object-fit: cover;
    width: 100px;
}

.avatar img {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
}

.cart {
    position: relative;
}

.cart-count  {
    background-color: #26a69a;
    font-size: 15px;
    font-weight: 400;
    left: 20px;
    position: absolute;
    top: -10px;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
}

#footer{
    background-color: #30598c;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    line-height: 30px;
    font-size: 13px;
    width: 100%;
}

.card-item {
    flex-basis: 33.33%;
    padding: 10px;
}

.content {
    width: 100%;
    color: #fff;
    padding: 30px;
    font-size: 20px;
}

.card {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    overflow: hidden;
}

.card-content {
    padding: 16px;
}

.card-content h2 {
    font-size: 19px;
    font-weight: 400;
    color: #464646;
}

.card-content p {
    font-size: 14px;
    font-weight: 100;
    color: #757575;
}

.card-image img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card-image img {
    height: 100%;
}

.card-content p span {
    color: #ffd600;
}

.social-link i {
    font-size: 27px;
    margin-right: 8px;
}