* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

i {
    padding: 5px;
}

li {
    padding: 3px;
}

ul {
    list-style: none;
}


.container {
    display: flex;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100vh; 
}
 
/* menu css */
.menu {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;

    padding: 20px;  

    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh;
    

}

.menu h3 {
    padding-bottom: 25px;
    padding-top: 55px;
    font-style: italic;
}

.menu a {
    padding: 15px;
}

.menu .media-social a{
    padding: 5px;
}

.menu span {
    padding: 25px;
}

.active {
    color: rgb(108, 106, 106);
 }

div a:hover:not(.active) {
    color: rgb(108, 106, 106);
}

.menu h3 i {
	animation: beat .25s infinite alternate;
}
/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.4); }
}


/* photo css */
.photo {
    position: relative;
    margin-left: 20%;
    background-color:rgb(247, 247, 239);
    width: 30%;
   
}

.photo img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}
/* content css */
.content {
    position: relative;
    background-color:rgb(247, 247, 239);
    width: 50%;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;

}

.content .information {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 50px;
}

.sub {
    display: flex;
    padding: 8px;
}

.sub .title-infor {
    padding-right: 10px;
}

.content p {
    font-size: 25px;
    font-style: italic;
    animation: body 3s;
}

@keyframes body {
    0% {
        right: 200px;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}
