#footer {background-color: #30598c;}
.col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 0;
    color: #fff; 
    width: 30%;
}
ul {
    list-style-type: none;
}
a {
    color: #fff; 
    text-decoration: none
  }