* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

i {
    padding: 5px;
}



.container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    /* height: 100vh;  */
}
 
/* menu css */
.menu {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;

    padding: 20px;  

    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh;
    

}

.menu h3 {
    padding-bottom: 25px;
    padding-top: 55px;
    font-style: italic;
}

.menu a {
    padding: 15px;
}

.menu .media-social a{
    padding: 5px;
}

.menu span {
    padding: 25px;
}

.active {
    color: rgb(108, 106, 106);
 }

div a:hover:not(.active) {
    color: rgb(108, 106, 106);
}

.menu h3 i {
	animation: beat .25s infinite alternate;
}
/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.4); }
}

/* container css */
.container {
    background-color:rgb(247, 247, 239);
    margin-left: 20%;
    width: 80%; 
}

/* box css */
.box {
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    padding-bottom: 15px;
    padding-top: 30px;
}

.core-banking {
    padding: 20px 0px 20px 0px;
    animation: body 1s;
}

.squadware {
    padding: 20px 0px 20px 0px;
    animation: body 3s;
}

.expense {
    padding: 20px 0px 20px 0px;
    animation: body 5s;
}

.waste {
    padding: 20px 0px 20px 0px;
    animation: body 7s;
}

.gate-pass {
    padding: 20px 0px 20px 0px;
    animation: body 10s;
}

.item {
    padding: 7px 80px 7px 0px;
    font-style: italic;
}

@keyframes body {
    0% {
        right: 200px;
        opacity: -1;
    }
    50% {
        right: 200px;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}