* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

i {
    padding: 5px;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
   
    
}
 
/* menu css */
.menu {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;

    padding: 16px;  

    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh;
    
}

.menu h3 {
    padding-bottom: 25px;
    font-style: italic;
}

.menu a {
    padding: 6px;
}
.menu span {
    padding: 6px;
}
/* photo css */
.photo {
    position: relative;
    margin-left: 20%;
    background-color:rgb(247, 247, 239);
    width: 30%;
   
}

.photo img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}
/* content css */
.content {
    position: relative;
    background-color:rgb(247, 247, 239);
    width: 50%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;

}

.content .information {
    display: flex;
    justify-content: center;
    padding-top: 20px
}

.content ul {
    padding: 9px
}

.content ul li {
    padding: 5px
}
