#footer{
    background-color: #30598c;
    width: 100%;
    padding-left: 50px;
    color: #fff;
    font-size: 14px;
    margin: inherit;
}
ul {
    padding-left: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
div.content {
    text-align: center;
  }