.container {
    height: 200px;
    width: 200px;
    background-color: orange;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item {
    font-size: 60px;
    color: red;
    animation: beat .25s infinite alternate;
}

@keyframes beat{
	to { transform: scale(1.4); }
}



