* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* thẻ để lên đầu rồi đến cái tự mình set */
img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}

h2 {
    margin-bottom: 20px;
    margin-top: 35px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
}

ol {
    margin-block-end: 0;
    margin-top: 0;
    margin-bottom: 16px;
    list-style-type: none;
    font-size: 20px;
    padding: 8px 24px;
}

li {
    margin-bottom: 8px;
}


.container {
    width: 100%;
    padding-top: 62px;
}

/* herder style*/
.header {
    background-color: #30598c;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    height: 62px;
    width: 100%;
    position: fixed;
}

.header-container {
    padding: 0 30px; 
    /* cách trên dưới là 0 và trái phải 30, dãn nội dụng ko cho sát lề */
    height: 100%;
    font-size: 20px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    /* mỗi cái một bên */
    align-items: center;
    height: 100%;
}

.sidebar {
    display: flex;
    align-items: center;
}


.menu .main-menu {
    display: flex;
}

.menu .main-menu .menu-item {
    text-transform: uppercase;
    margin-right: 24px;
    position: relative;

    height: 62px;
    display: flex;
    align-items: center;

    cursor: pointer;
}

.menu .main-menu .menu-item:hover {
    color: #c4c4c4;
}

.sub-menu {
    position: absolute;

    right: 0;
    top: 100%;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    background-color: #fff;
    border-radius: 4px;

    display: none;
}

.menu .main-menu .menu-item:hover .sub-menu {
    display: block;
}

.sub-menu-item {
    color: #212529;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    padding: 16px;
}

.sub-menu-item:hover {
    background-color: #c4c4c4;
    color: #fff;
}

.avatar {
    margin-left: 24px;
}

/* cart style */

.logo img {
    height: 37px;
    object-fit: cover;
    width: 100px;
}

.avatar img {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
}

.cart {
    position: relative;
}

.cart-count  {
    background-color: #26a69a;
    font-size: 15px;
    font-weight: 400;
    left: 20px;
    position: absolute;
    top: -10px;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
/* body style */

.body {
    width: 100%;
    padding-top: 62px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.menu-detail {
    margin-bottom: 15px;
    padding-left: 30px;
    margin-left: 0;
    padding-bottom: 48px;
    padding-top: 48px
}

.menu-detail a {
    color: #464646;
    font-size: 20px;
}

.menu-detail span {
    font-size: 9.6px;
    padding: 0 16px;
}

.detail .col-7 {
    width: 70%;
}

.col-7 p {
    font-size: 19.2px;
    padding: 8px 24px;
}
.support-info-left img {
    border-radius: 100px;
    vertical-align: middle;
}

.support-info-right span {
    margin-bottom: 8px;
    display: block;
}

.support-info-right button {
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
}

.support {
    align-items: center;
    border: 1px solid #f4f4f4;
    display: flex;
    padding: 16px 24px 32px;
}
.support-info-right {
    margin-left: 16px;
}

.course-desciption {
    padding: 16px 24px 32px;
    
}


.detail .col-3 {
    width: 30%;
}

/* footer style */
#footer{
    background-color: #30598c;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    line-height: 30px;
    font-size: 13px;
    width: 100%;
}
.content {
    width: 100%;
    color: #fff;
    padding: 30px;
    font-size: 20px;
}
.social-link i {
    font-size: 27px;
    margin-right: 8px;
}