* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 12000px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: black;
    position: relative;
    top: 100px;
    left: 100px;
}

.parent {
    width: 800px;
    height: 400px;
    background-color: brown;
}

.child {
    width: 200px;
    height: 300px;
    background-color:blue;

    position: absolute;
}

.btn {
    padding: 15px 30px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;

    position: fixed;
    right: 50px;
    bottom: 50px;
}

.sticky {
    padding: 20px;
    background-color: tomato;

    position: sticky;
    top: 50px;
}